{% extends 'login/base.html' %}

{% block content %}
    <h1>Confirmar eliminación de proyecto "{{ proyecto.nombre }}"</h1>
    <p>¿Está seguro de que desea eliminar este proyecto?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Sí">
        <a href="{{ request.GET.next }}">No</a>
    </form>

    <script>
        const confirmarEliminacion = () => {
            if (window.location.search.includes('confirm=1')) {
                const confirmacion = confirm('¿Está seguro de que desea eliminar este proyecto?');
                if (confirmacion) {
                    document.querySelector('form').submit();
                }
            }
        };
        confirmarEliminacion();
    </script>
{% endblock %}
