<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creacion de usuarios</title>
</head>
<body>
    {% for  message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Mensaje:</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <h1>CREAR USUARIO</h1>
    <form action="/crear_usuario" method="post">
    {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required>
        
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
    
        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" id="telefono" required>
    
        <button type="submit">Crear usuario</button>
    </form>
</body>
</html>